<% content_for(:headline) do %>
  Authorize Zoom Breakout Manager App
<% end %>

<div class="col-md-8">
  <p>Click <%= link_to 'here', zoom_breakouts_install_path %> to install the Zoom Breakout Manager app to use in your Zoom meetings.</p>
</div>